<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.spring.myboard.mapper.BoardMapper">
	<!-- resultType : 쿼리를 사용했을 때 결과를 저장할 클래스를 지정 -->
	<select id="getList"
		resultType="kr.co.spring.myboard.domain.BoardVO">
		<![CDATA[
			select * from tbl_board where bno > 0
		]]>
	</select>
	
	<!-- 게시글을 저장할 때 몇 번 게시물인지 알 수 가 없다. -->
	<insert id="insert">
		<![CDATA[
			insert into tbl_board(bno, title, content, writer)
			select case count(*) when 0 then 1 else max(bno) + 1 end, #{title}, #{content}, #{writer} from
			tbl_board where bno > 0
		]]>
	</insert>
	<!-- 게시글을 저장할 때 미리 bno 값을(키값) 발생 시키고, 발생된 키값을 insert 하기 selectKey -->
	
	<insert id="insertSelectKey">
		<!-- selectKey 태그를 활용한다 -> myBatis한테 key를 발생시킬 쿼리다 -->
		<!-- 쿼리에 의해서 발생된 값을 keyProperty에 저장 -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			<![CDATA[
				select case count(*) when 0 then 1 else max(bno)+1 end from tbl_board where bno > 0
			]]>
		</selectKey>
		
		<![CDATA[
			insert into tbl_board(bno, title, content, writer)
			values (#{bno}, #{title}, #{content}, #{writer})			
		]]>
	</insert>
	
	<!-- 게시글 조회 read -->
	<select id="read" resultType="kr.co.spring.myboard.domain.BoardVO">
		select * from tbl_board where bno=#{bno}
	</select>
	
</mapper>





















