<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.spring.myboard.mapper.BoardMapper">
	<!-- resultType : 쿼리를 사용했을 때 결과를 저장할 클래스를 지정 -->
	<select id="getList"
		resultType="kr.co.spring.myboard.domain.BoardVO">
		<![CDATA[
			select * from tbl_board where bno > 0
		]]>
	</select>

	<insert id="insert">
		<![CDATA[
			insert into tbl_board(bno, title, content, writer)
			select case count(*) when 0 then 1 else max(bno) + 1 end, #{title}, #{content}, #{writer} from
			tbl_board where bno > 0
		]]>
	</insert>
</mapper>